<app-nav-bar></app-nav-bar>
<div class="container">
  <div class="row row-product-detail">
    <!-- menu detalhe do produto -->
    <div class="col-md-4">
      <app-menu-detalhe-produto></app-menu-detalhe-produto>
    </div>
    <!-- fim menu detalhe do produto -->
    <!-- card detalhe do produto -->
    <div class="col-md-8">
        <app-card-produto-detalhe-produto></app-card-produto-detalhe-produto>
    </div>
    <!-- fim card detalhe do produto -->
  </div>
</div>
<app-footer></app-footer>
