.row-product-detail{
  margin-top: 30px;
}

.detail-product-description{
  padding-bottom: 10px;
}

.row-product-detail{
  margin-top: 30px;
}

.product-detail{
  margin-top: 15px;
  margin-bottom: 15px;
}
