
  <a class="product-detail" routerLink="/detalhe-produto">
  <div class="card card-product">
    <img class="card-img-top" src="assets/images/imagem_produto.jpeg" alt="Card image cap">
    <div class="card-body">
      <h5 class="card-title">Moto G5S</h5>
      <p class="card-text">O smartphone Motorola Moto G G5S aparece como uma boa opção de aparelho intermediário, garantindo bom desempenho nas funções básicas.</p>
      <div class="buy d-flex justify-content-between align-items-center">
        <div class="row">
          <div class="col"><div class="price"><strong><h2 class="mt-4">R$125,00</h2></strong></div></div>
          <div class="w-100"></div>
          <div class="col"><a href="#" class="btn btn-warning btn-comprar mt-3"><i class="fas fa-shopping-cart"></i> Comprar</a></div>
        </div>
      </div>
    </div>
  </div>
  </a>

