<div class="carousel slide pointer-event" id="carouselExampleIndicators" data-ride="carousel">

  <!-- Bootstrap inner [slides]-->
  <div class="carousel-inner">
    <!-- Carousel items [paginas] -->
    <app-carousel-item class="carousel-item" [ngClass]="{'active': i==0}" *ngFor="let pagina of paginas; let i = index" [numero_pagina]="i" [produtos]="produtos"></app-carousel-item>
    <!-- /Carousel items [paginas]-->
  </div>
  <!-- /Bootstrap inner [slides]-->

  <!-- Bootstrap carousel indicators [nav] -->
  <div class="col-md-12">
    <ol class="carousel-indicators carousel-indicators-slider-produtos">
      <app-carousel-indicators *ngFor="let pagina of paginas; let i = index" [numero_pagina]="i"></app-carousel-indicators>
    </ol>
  </div>
  <!-- /Bootstrap carousel indicators [nav] -->

</div>
