<router-outlet></router-outlet>
<!-- <div class="container">
  <div class="card list-car">
    <h5 class="card-header">Lista de carros</h5>
    <div class="card-body">
      <table class="table">
          <thead>
            <tr>
              <th scope="col">Id</th>
              <th scope="col">Modelo</th>
              <th scope="col">Cor</th>
              <th scope="col">Preço</th>
              <th scope="col">Ações</th>
            </tr>
          </thead>
          <tbody>
            <tr *ngFor="let car of cars">
              <td>{{car.id}}</td>
              <td>{{car.model}}</td>
              <td>{{car.color}}</td>
              <td>{{car.price | currency}}</td>
              <td>
                <button type="button" class="btn btn-warning btn-sm" (click)="editCar(car)">Editar</button>
                <button type="button" class="btn btn-danger btn-sm ml-1" (click)="deleteCar(car)">Deletar</button>
              </td>
            </tr>
          </tbody>
        </table>
    </div>
  </div> -->
