<div class="card">
  <div class="card-body">
      <div class="row align-items-center">
      <div class="col-md-6">
          <a class="product-detail" href="produto_detalhe.php">
              <img class="card-img-top" attr.src="{{apiURL+produto.product_images[0]}}" alt="Card image cap">
          </a>
      </div>
      <div class="col-md-6 card-body">
          <!-- <div class="card-body"> -->
              <h5 class="card-title">{{produto.product_name}}</h5>
              <p class="card-text" [innerHTML]="produto.product_short_description"></p>
              <div class="buy d-flex justify-content-between align-items-center"><a class="product-detail" href="produto_detalhe.php">
                  </a><div class="row"><a class="product-detail" href="produto_detalhe.php">
                      </a><a class="product-detail" href="produto_detalhe.php">
                          <div class="col">
                              <div class="price">
                                  <strong>
                                      <h2>{{produto.product_price  | currency: 'BRL'}}</h2>
                                  </strong>
                              </div>
                          </div>
                          <div class="w-100"></div>
                      </a>
                      <div class="col">
                          <a class="product-detail" href="produto_detalhe.php"></a>
                          <a href="#" class="btn btn-warning btn-comprar mt-3"><i class="fas fa-shopping-cart"></i> Comprar</a>
                      </div>
                  </div>
              </div>
  </div>

  <div class="col-md-12 card-body detail-product-description" [innerHTML]= "'<strong>Descrição:</strong>'+produto.product_long_description">
  </div>
</div>
  </div>
</div>
