<div class="container">
  <div class="row">
      <div class="col-md-12 bg-white shadow rounded">

          <!-- estabelecimentos -->
          <section>
              <div class="d-flex justify-content-center">
                  <div class="col-md-12">
                  <!-- info estabelecimento -->
                  <div class="row align-items-center">
                      <div class="col">
                        <div class="col-md-12">
                          <img src="assets/images/logo_estabelecimento.png" class="img-fluid w-50" alt="...">
                        </div>

                      </div>

                      <div class="col">
                          <a href="javascript: alert('getLocaliacao()')"><i class="fas fa-map-marker-alt"></i> Localização</a>
                      </div>
                      <div class="col">{{estabelecimento.fantasy_name}}</div>
                      <div class="col">{{estabelecimento.responsible}}</div>
                  </div>
                  <!-- /info estabelecimento -->
                  </div>
              </div>

              <!-- Bootstrap carousel-->
              <div class="col-md-12">
                  <div class="carousel slide" id="carouselExampleIndicators{{estabelecimento.id}}" data-ride="carousel">
                      <!-- Bootstrap inner [slides]-->
                      <div class="carousel-inner">
                          <!-- Carousel item-->
                          <div class="carousel-item active">
                              <div class="media">
                                  <div class="media-body">
                                      <div class="row product-grid-line">
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- Carousel item-->
                          <div class="carousel-item">
                              <div class="media">
                                  <div class="media-body">
                                      <div class="row product-grid-line">
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                      </div>
                                  </div>
                              </div>
                          </div>

                          <!-- Carousel slide-->
                          <div class="carousel-item">
                              <div class="media">
                                  <div class="media-body">
                                      <div class="row product-grid-line">
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                          <div class="col-md-3"><app-card-produto></app-card-produto></div>
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                      <!-- /Bootstrap inner [slides]-->
                      <div class="col-md-12">
                          <!-- Bootstrap carousel indicators [nav] -->
                              <ol class="carousel-indicators carousel-indicators-slider-produtos">
                                  <li class="active" attr.data-target="#carouselExampleIndicators{{estabelecimento.id}}" data-target="" data-slide-to="0"></li>
                                  <li attr.data-target="#carouselExampleIndicators{{estabelecimento.id}}" data-slide-to="1" class=""></li>
                                  <li attr.data-target="#carouselExampleIndicators{{estabelecimento.id}}" data-slide-to="2" class=""></li>
                              </ol>
                          <!-- /Bootstrap carousel indicators [nav] -->
                      </div>

                  </div>
              </div>
              <!-- /Bootstrap carousel-->

              <!-- ir para a loja -->
              <div class="col-md-12 d-flex justify-content-center">
                      <button type="button" class="btn btn-warning btn-ir-pra-loja">Ir pra loja</button>
              </div>
              <!-- /ir par a loja -->
          </section>
          <!-- /estabelecimentos -->

      </div>
  </div>
</div>
<br>

